/* Common Transition Style */
%transition{
    transition: all linear .25s;
}

/* Common Background Style */
%cover-bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $color-image-bg;
}

/* Common Transform Box for SVG Style */
%fill-box{
    transform-box: fill-box;
}