// SCSS Variable's
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Arimo', sans-serif;
$font-logo: 'Abril Fatface', cursive;
$color-primary: #FE77A0;
$color-secondary: #2E2E52;
$color-secondary-dark: #202040;
$color-tertiary: #55ADEE;
$color-gradient__one: #FE5B90;
$color-gradient__two: #FF7BA3;
$color-gray: #444444;
$color-gray-soft: #BBBBBB;
$color-orange : #FFA200;
$color-black: #000000;
$color-black--200: #222222;
$color-white: #ffffff;