/* Header Section Style */
.header{
	top: 0;
	left: 0;
	z-index: 99;
	&__top{
		padding: toRem(14) 0;
		border-bottom: 1px solid rgba($color-white, $alpha: 0.10);
		&__contact{
			@extend %transition;
			&:hover,
            &:focus{
				color: $color-primary;
			}
		}
	}
	.navbar{
		top: 0;
		left: 0;
		padding-top: toRem(20);
		padding-bottom: toRem(20);
		&-toggler{
			font-size: 2rem;
			color: $color-primary;
		}
        &-collapse{
            @include desktop{
                background-color: $color-image-bg;
                padding-bottom: 1rem;
            }
        }
		.nav{
			&-link{
				font-size: toRem(20);
				font-family: $font-secondary;
				padding-left: toEm(12);
				padding-right: toEm(12);
				@extend %transition;
				@include mobile{
					font-size: toRem(17);
				}
				&.active,
				&:hover,
				&:focus{
					color: $color-primary;
				}
			}
		}
		&--fixed{
			position: fixed;
			transform: translateY(-100%);
			background-color: $color-image-bg;
			box-shadow: 0 3px 15px rgba($color: #000000, $alpha: 0.16);
			animation: header_in .4s linear forwards;
		}
	}
}
/* Fixed Header animation */
@keyframes header_in{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0);
	}
}